<footer class="h-64 bg-red pt-10">
    <div class="max-w-7xl mx-auto grid grid-cols-3 gap-4">
        <div>
            <small class="block mb-3 text-black-500">©2023 Binod. All Rights Reserved.</small>
        </div>
        <div>
            <h5 class="text-white">Features</h5>
            <ul class="list-none">
                <li class="mb-1">
                    <a class="text-gray-300 hover:text-white" href="#">About us</a>
                </li>
                <li class="mb-1">
                    <a class="text-gray-300 hover:text-white" href="#">Contact us</a>
                </li>
                <li class="mb-1">
                    <a class="text-gray-300 hover:text-white" href="#">Our Mission</a>
                </li>
            </ul>
        </div>
        <div>
            <h5 class="text-white">Resources</h5>
            <ul class="list-none">
                <li class="mb-1">
                    <a class="text-gray-300 hover:text-white" href="#">Blog</a>
                </li>
                <li class="mb-1">
                    <a class="text-gray-300 hover:text-white" href="#">Career</a>
                </li>
                <li class="mb-1">
                    <a class="text-gray-300 hover:text-white" href="#">Profiles</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
