<div class="col-lg-10 mx-auto mt-5">
  <%= render 'members/user_personal_details', user:@user %>
    <div class="card mb-5">
      <div class="card-body">
        <div class="flex justify-between mb-3">
          <h3 class="text-lg font-semibold">About</h3>
          <h3 class="text-lg font-semibold">User Info</h3>
        </div>
        <% if user_signed_in? && @user == current_user%>
        <div>
        <%= link_to edit_user_description_path, 
        data: { controller: "bs-modal-form" } do %>
          <span>Edit</span>
          <%end%>
          <% end %>
        </div>
        <div class="flex justify-between">
          <%= render 'members/user_description', user: @user %>
          <!-- Replace this placeholder content with actual user info -->
         
        </div>
      </div>
    </div>
  </div>
</div>
